.App {
  text-align: center;
}

.arrow-icon {
  width: 50px;
  height: 50px;
  display: inline-block; /* Ensures it behaves like an inline element */
  animation: moveArrow 0.8s infinite alternate;
}

@keyframes moveArrow {
  from {
    transform: translateX(0) ;
  }
  to {
    transform: translateX(10px);
  }
}